*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 20px;
  background-color: #242325; */
background-color: rgb(16, 4, 27);
width: 100%;
height: 100vh;
margin: 0 auto;
color: #fff;
font-size: 1.2em;
}
h1{
  color: #fff;
}
.container{
  /* justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 90%;
  background-color: #B3B3B3; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   width: 100%;
}


input{
  padding: 10px;
 border-radius: 10px;
  margin-bottom: 20px;
}
button{
  padding: 10px;
  width: 50%;
  border-radius: 20px;
  background-color: chocolate;
}
button:hover{
  background-color: #000;
  color: #ffff;
}
input.input-error{
 border: 2px solid #FF1B1C;

}
input:focus{
  outline: none;
}
p.error {
  color:  #FF1B1C;
  font-weight: bold;
  margin-top: 0;
  margin-left: -.2rem;
  font-size: .9em;
}
button:disabled {
  opacity: 0.35;
  background-color: #B3B3B3;
}
label{
  color: #fff;
  margin-bottom: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
button {
  margin-top: .9em;
}
